html {
  height: 100vh;
  min-width: 600px;
  background-image: linear-gradient(130deg, #ffffff, #1c3f80);
  background-repeat: no-repeat;
  background-size: auto;
}

.container {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  font-family: 'Raleway', sans-serif;
}